.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;

    .navContainer {
        width: 100%;
        max-width: 1024px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {            
            
            a {
                font-size: 20px;
                font-weight: 500;
                color: white;
                text-decoration: none;
            }
        }

        .navItems{
            .navButton{
                margin-left: 20px;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
                color: #003580;
            }
        }
    }
}

.header {
    background-color: #003580;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;

    .headerContainer{
        width: 100%;
        max-width: 1024px;
        margin: 20px 0px 100px 0px;

        .headerList {
            display: flex;
            gap: 40px;

            .headerListItem {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .headerListItem.active {
                border: 1px solid white;
                padding: 5px 15px;
                border-radius: 20px;
            }
        }
    }
}