
.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;

    .navContainer {
        width: 100%;
        max-width: 1024px;
        padding: 10px 15px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {            
            
            a {
                font-size: 20px;
                font-weight: 500;
                color: white;
                text-decoration: none;
            }
        }

        .navItems{
            width: 150px;
            display: flex;
            justify-content: space-around;

            .navButton{
                // margin-left: 10px;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
                color: #003580;
                font-weight: 500;
                border-radius: 2px 8px 10px;
            }
            .navButton:hover {
                color: white;
                background-color: #003580;
                border: 1px solid white;
                // transform: 2s;
            }
        }
    }
}